.dashboard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .text-column {
    width: 50%;
  }
  
  .image-column {
    width: 50%;
    text-align: center;
  }
  
  .image-column img {
    max-width: 100%;
}
  